# build directory name
build

# Eclipse Settings
.cproject
.project

# project backups
sdkconfig
sdkconfig.old
sdkconfig.defaults
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.DS_Store
